<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet" />
<style>
  * {
  font-family: 'Source Sans Pro';
  }
</style> 

<div class="mx-4 max-w-screen-xl sm:mx-8 xl:mx-auto">
  <h3 class="border-b py-6 text-2xl font-semibold">Dashboard</h3>
  <div class="grid grid-cols-8 pt-3 pb-10 sm:grid-cols-10">
    <%= render 'host_sidebar' %>
    <%= render 'update_property_list'%>
   
      <hr class="mt-4 mb-8" />
    </div>
  </div>
</div>