<div class="mx-4 max-w-screen-xl sm:mx-8 xl:mx-auto">
  <h3 class="border-b py-6 text-2xl font-semibold text-gray-700">My Profile</h3>
  <div class="grid grid-cols-8 pt-3 pb-10 sm:grid-cols-10">
    <%= render 'sidebar' %>
    
    <%=render 'update_profile_form'%>
    
    </div>
  </div>
</div>