<div  
data-controller="google-maps" 
class="grid grid-cols-3 gap-3 container mx-auto px-4 py-5 md:py-14 sm:py-14"
>
<div class="">
<ul role ="list" class="gap-y-8 gap-4 grid grid-cols-1 lg:grid-cols-2">


<%= render partial: 'shared/properties', collection: @properties, as: :property %>

</ul>
</div>
<div class="col-span-2" >
<div class="bg-blue-400" data-google-maps-target="map">Map of the property</div>

</div>
</div>