<div class="col-span-8 overflow-hidden rounded-xl sm:bg-gray-50 sm:px-8 sm:shadow pb-10">
      <div class="pt-4">
      
      <h1 class="py-2 text-2xl font-semibold">Update password</h1>
        <p class="text-gray-500 text-base">You can change your password here.</p>
      </div>
      
    
<%= form_with model: @user, scope: :password, local:true, url:password_path(@user) do |f| %>
  <div class="space-y-1">
        <div>
          <div class="flex w-full items-center px-6 py-2">
           
          </div>
          <div class="flex flex-col space-y-3 px-4 py-6 sm:px-10">
          <div class="grid lg:grid-cols-1 ">
          <div>
          <%= f.label :password, class:"block"%>
            <%= f.password_field :password, class:"bg-transparent w-full rounded-md border py-2 px-2  outline-none ring-blue-600 focus:ring-1 w-2/3"%>
            </div>
            
            </div>
            <div class="block flex justify-end">
            <button type="submit" class="mt-4  rounded-lg bg-rose-500 px-10 py-2 text-white">Save</button>
            </div>
        </div>
        </div>
  <% end %>
         </div>